<%
  @title = "文書一覧"
  @title = "#{@title}: #{@user.nickname}" unless @login_user == @user
 %>

<div class="row documents">
  <% @documents.each do |document| %>
    <div class="col s12 m4">
      <div class="card small">
        <div class="card-content">
          <%
            if @user == @login_user
              link = edit_document_path(document)
            else
              link = document
            end
          %>
          <%= link_to link do %>
            <span class="card-title grey-text text-darken-4"><%= document.title %></span>
            <p><%= document.description %></p>
          <% end %>
        </div>

        <% if @user == @login_user %>
          <div class="card-action">
            <%= link_to document,
              :method => :delete,
              :data => {:confirm => '本当に削除してよろしいですか?'},
              :class => 'waves-effect btn-flat' do %>
              <i class="mdi-action-delete"></i>
            <% end %>

            <%= link_to document,
              :data => {:confirm => '保存記録にしてよろしいですか?'},
              :class => 'waves-effect btn-flat' do %>
              <i class="mdi-content-archive"></i>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<%= paginate(@documents) %>

<div class="fixed-action-btn" style="bottom: 24px; right: 34px;">
  <%= form_for @user.documents.build do %>
    <button class="waves-effect waves-light btn-floating btn-large red">
      <i class="large mdi-content-add"></i>
    </button>
  <% end %>
</div>
