<%
  if params[:archived]
    @title = "保存記録"
  else
    @title = "文書一覧"
  end
  @title = "#{@title}: #{@user.nickname}" unless @login_user == @user
 %>

<div class="documents">
  <table class="mdl-data-table mdl-js-data-table">
    <thead>
      <tr>
        <th class="mdl-data-table__cell--non-numeric title">題名</th>
        <th class="mdl-data-table__cell--non-numeric updated">最終更新</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @documents.each do |document| %>
        <tr>
          <td class="mdl-data-table__cell--non-numeric title">
            <%= link_to document.title, document %>
          </td>

          <td class="updated">
            <%= document.content_updated_at %>
          </td>

          <td class="buttons">
            <div class="buttons">
              <%= button_to document,
                :method => :delete,
                :data => {:confirm => '本当に削除してよろしいですか?'},
                :class => 'mdl-button mdl-js-button mdl-button--icon' do %>
                <i class="material-icons">delete</i>
              <% end %>

              <%= form_for(document) do |f| %>
                <%= f.button :class => 'mdl-button mdl-js-button mdl-button--icon' do %>
                  <% if document.archived %>
                    <i class="material-icons">unarchive</i>
                  <% else %>
                    <i class="material-icons">archive</i>
                  <% end %>
                <% end %>
                <% document.archived = !document.archived %>
                <%= f.hidden_field :archived %>
              <% end %>

              <%= link_to edit_document_path(document) do %>
                <button class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored">
                  <i class="material-icons">edit</i>
                </button>
              <% end %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= paginate(@documents) %>

<div class="add-button right-bottom-fab">
  <%= form_for @user.documents.build do %>
    <!-- Colored FAB button with ripple -->
    <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
      <i class="material-icons">add</i>
    </button>
  <% end %>
</div>
