<% @title = "文書一覧: #{@user.nickname}" %>
<% content_for(:head) do %>
  <link rel="alternate" type="application/rss+xml"
      title="文書一覧フィード"
      href="<%= url_for(:format => :rss, :only_path => false) %>" />
<% end %>

<div class="profile">
  <div class="mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text"><%= @user.nickname %></h2>
    </div>

    <div class="mdl-card__supporting-text">
      <%= @user.profile_text.html_safe %>
    </div>
  </div>
</div>

<div class="documents">
  <table class="mdl-data-table mdl-js-data-table">
    <thead>
      <tr>
        <th class="mdl-data-table__cell--non-numeric title">題名</th>
        <th class="mdl-data-table__cell--non-numeric updated">最終更新</th>
      </tr>
    </thead>

    <tbody>
      <% @documents.each do |document| %>
        <tr>
          <td class="mdl-data-table__cell--non-numeric title">
            <%= link_to document.title, document %>
          </td>

          <td class="updated">
            <%= document.content_updated_at %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= paginate(@documents) %>
