<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <title><%= @document.title %></title>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= yield :head %>
  </head>

  <body class="<%= params[:controller] %>">
    <div class="document">
      <div class="toc">
        <div class="mdl-card mdl-shadow--2dp">
          <div class="mdl-card__title">
            <h2>
              <%= link_to @document.title, "#content-#{@document.id}",
                :id => "toc-#{@document.id}" %>
            </h2>
          </div>

          <div class="mdl-card__supporting-text">
            <ol>
              <%= render :partial => 'documents/show/toc.html',
                :collection => @document.body,
                :locals => {:parent_index => ''} %>
            </ol>
          </div>
        </div>
      </div>

      <div class="contents">
        <div class="content">
          <h3>
            <%= link_to @document.title, "#toc-#{@document.id}", :id => "content-#{@document.id}" %>
          </h3>

          <div class="body">
            <%= body({'body' => @document.description}, @document.markup) %>
          </div>
        </div>

        <%= render :partial => 'documents/show/content.html',
          :collection => @document.body,
          :locals => {:parent_index => ''} %>
      </div>
    </div>

    <%= hidden_field_tag :title, @document.title, :id => 'document-title' %>
    <%= hidden_field_tag :description, @document.description, :id => 'document-description' %>
    <%= hidden_field_tag :body, @document.body.to_json, :id => 'document-body' %>
    <%= hidden_field_tag :markup, @document.markup.to_json, :id => 'document-markup' %>
    <%= hidden_field_tag :version, @document.version.to_json, :id => 'document-version' %>
  </body>
</html>
