<%
  if params[:archived]
    @title = "保存記録"
  else
    @title = "文書一覧"
  end
 %>

<div class="documents">
  <table class="mdl-data-table mdl-js-data-table">
    <thead>
      <tr>
        <th class="mdl-data-table__cell--non-numeric title">題名</th>
        <th class="mdl-data-table__cell--non-numeric updated">最終更新</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @documents.each do |document| %>
        <tr>
          <td class="mdl-data-table__cell--non-numeric title">
            <%= link_to document.title, edit_document_path(document) %>
          </td>

          <td class="updated">
            <%= document.content_updated_at %>
          </td>

          <td class="buttons">
            <div class="buttons">
              <%= button_to document,
                :method => :delete,
                :data => {:confirm => '本当に削除してよろしいですか?'},
                :class => 'mdl-button mdl-js-button mdl-button--icon' do %>
                <i class="material-icons">delete</i>
              <% end %>

              <%= form_for @login_user.documents.build do %>
                <%= hidden_field_tag 'template', document.id %>
                <button class="mdl-button mdl-js-button mdl-button--icon">
                  <i class="material-icons">content_copy</i>
                </button>
              <% end %>

              <%= form_for(document) do |f| %>
                <%= f.button :class => 'mdl-button mdl-js-button mdl-button--icon' do %>
                  <% if document.archived %>
                    <i class="material-icons">unarchive</i>
                  <% else %>
                    <i class="material-icons">archive</i>
                  <% end %>
                <% end %>
                <% document.archived = !document.archived %>
                <%= f.hidden_field :archived %>
              <% end %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= paginate(@documents) %>

<div class="add-button right-bottom-fab">
  <%= form_for @login_user.documents.build do %>
    <!-- Colored FAB button with ripple -->
    <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
      <i class="material-icons">add</i>
    </button>
  <% end %>
</div>

<% content_for(:navigation) do %>
  <hr>
  <%= link_to '#', :class => 'mdl-navigation__link config' do %>
    <i class="material-icons">settings</i>
    設定
  <% end %>
<% end %>

<% content_for(:bottom) do %>
  <div id="config-dialog" class="modal-card user-config">
    <div class="modal-container">
      <div class="mdl-card mdl-shadow--2dp">
        <div class="mdl-card__supporting-text">
          <div>
            <h4>記法</h4>
            <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect">
              <input type="radio" class="mdl-radio__button" name="markup" value="plaintext" id="markup1" <%= 'checked' if @login_user.default_markup == 'plaintext' %>>
              <span class="mdl-radio__label">記法なし</span>
            </label>
            <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect">
              <input type="radio" class="mdl-radio__button" name="markup" value="hatena"id="markup2" <%= 'checked' if @login_user.default_markup == 'hatena' %>>
              <span class="mdl-radio__label">はてな記法</span>
            </label>
            <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect">
              <input type="radio" class="mdl-radio__button" name="markup" value="markdown"id="markup3" <%= 'checked' if @login_user.default_markup == 'markdown' %>>
              <span class="mdl-radio__label">Markdown</span>
            </label>
          </div>
        </div>

        <div class="mdl-card__menu">
          <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect close">
            <i class="material-icons">close</i>
          </button>
        </div>
      </div>
    </div>
  </div>
<% end %>
