<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @document.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @document.description %>
</p>

<p>
  <strong>Body:</strong>
  <%= @document.body %>
</p>

<p>
  <strong>Private:</strong>
  <%= @document.private %>
</p>

<p>
  <strong>Password:</strong>
  <%= @document.password %>
</p>

<p>
  <strong>Markup:</strong>
  <%= @document.markup %>
</p>

<%= link_to 'Edit', edit_document_path(@document) %> |
<%= link_to 'Back', documents_path %>
