<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <%= render 'favicon' %>
    <title><%= @title %>: <%= Sone::Application.config.title %></title>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= yield :head %>
  </head>

  <body class="<%= params[:controller] %>">
    <!-- Always shows a header, even in smaller screens. -->
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <header class="mdl-layout__header">
        <div aria-expanded="false" role="button" tabindex="0" class="mdl-layout__drawer-button">
          <i class="material-icons">menu</i>
        </div>

        <div id="back-button" style="display:none" class="mdl-layout__drawer-button">
          <i class="material-icons">arrow_back</i>
        </div>

        <div class="mdl-layout__header-row">
          <!-- Title -->
          <span class="mdl-layout-title"><%= @title %></span>
          <!-- Add spacer, to align navigation to the right -->
          <div class="mdl-layout-spacer"></div>

          <% if @login_user.present? %>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable mdl-textfield--floating-label mdl-textfield--align-right">
              <label class="mdl-button mdl-js-button mdl-button--icon" for="fixed-header-drawer-exp">
                <i class="material-icons">search</i>
              </label>
              <div class="mdl-textfield__expandable-holder">
                <%= form_tag documents_path, :method => :get do %>
                  <%= text_field_tag 'keywords', params[:keywords], :id => 'fixed-header-drawer-exp', :class => 'mdl-textfield__input' %>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </header>

      <div class="mdl-layout__drawer">
        <header class="drawer-header">
          <% unless params[:controller].start_with?('drive') %>
            <% if @login_user.blank? %>
              <div class="username">ゲスト</div>
            <% else %>
              <%= image_tag @login_user.profile_image, :class => 'avater' if @login_user.profile_image.present? %>
              <div class="username"><%= @login_user.nickname %></div>
            <% end %>
          <% end %>
        </header>

        <nav class="mdl-navigation">
          <%= yield :navigation1 %>

          <% unless params[:controller].start_with?('drive') %>
            <% if @login_user.blank? %>
              <%= link_to users_login_path, :class => 'mdl-navigation__link' do %>
                <i class="material-icons">person</i>
                ユーザ登録/ログイン
              <% end %>
            <% else %>
              <%= link_to documents_path, :class => 'mdl-navigation__link' do %>
                <i class="material-icons">library_books</i>
                文書
              <% end %>
              <%= link_to documents_path(:archived => true), :class => 'mdl-navigation__link' do %>
                <i class="material-icons">archive</i>
                保存記録
              <% end %>

              <%= yield :navigation2 %>
              <hr>

              <%= link_to_profile_edit '<i class="material-icons">settings</i>プロフィール編集'.html_safe, :class => 'mdl-navigation__link' %>
              <%= link_to users_logout_path, :class => 'mdl-navigation__link' do %>
                <i class="material-icons">person_outline</i>
                ログアウト
              <% end %>
            <% end %>
          <% end %>

          <%= yield :navigation %>
        </nav>
      </div>

      <main class="mdl-layout__content">
        <div class="page-content"><%= yield %></div>
        <%= render :partial => 'layouts/footer', :locals => {:size => 'mini'} %>
      </main>

      <%= render :partial => 'layouts/footer', :locals => {:size => 'mega'} %>

      <%= yield :bottom %>
    </div>
  </body>
</html>
