<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <title><%= @title %>: <%= Sone::Application.config.title %></title>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body class="<%= params[:controller] %>">
    <!-- Always shows a header, even in smaller screens. -->
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
          <!-- Title -->
          <span class="mdl-layout-title"><%= @title %></span>
          <!-- Add spacer, to align navigation to the right -->
          <div class="mdl-layout-spacer"></div>

          <% if @login_user.present? %>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable mdl-textfield--floating-label mdl-textfield--align-right">
            <label class="mdl-button mdl-js-button mdl-button--icon" for="fixed-header-drawer-exp">
              <i class="material-icons">search</i>
            </label>
            <div class="mdl-textfield__expandable-holder">
              <%= form_tag documents_path, :method => :get do %>
                <%= text_field_tag 'keywords', params[:keywords], :id => 'fixed-header-drawer-exp', :class => 'mdl-textfield__input' %>
              <% end %>
            </div>
          </div>
          <% end %>
        </div>
      </header>

      <div class="mdl-layout__drawer">
        <header class="drawer-header">
          <% if @login_user.blank? %>
            <img src="http://placehold.it/48x48" class="avatar">
            <div class="username">ゲスト</div>
          <% else %>
            <img src="http://placehold.it/48x48" class="avatar">
            <div class="username"><%= @login_user.nickname %></div>
          <% end %>
        </header>

        <nav class="mdl-navigation">
          <%= yield :navigation1 %>

          <% if @login_user.blank? %>
            <%= link_to users_login_path, :class => 'mdl-navigation__link' do %>
              <i class="material-icons">person</i>
              ユーザ登録/ログイン
            <% end %>
          <% else %>
            <%= link_to documents_path, :class => 'mdl-navigation__link' do %>
              <i class="material-icons">library_books</i>
              文書
            <% end %>
            <%= link_to documents_path(:archived => true), :class => 'mdl-navigation__link' do %>
              <i class="material-icons">archive</i>
              保存記録
            <% end %>
            <hr>

            <%= link_to_profile_edit '<i class="material-icons">settings</i>プロフィール編集'.html_safe, :class => 'mdl-navigation__link' %>
            <%= link_to users_logout_path, :class => 'mdl-navigation__link' do %>
              <i class="material-icons">person_outline</i>
              ログアウト
            <% end %>
          <% end %>

          <%= yield :navigation %>
        </nav>
      </div>

      <main class="mdl-layout__content">
        <div class="page-content"><%= yield %></div>
      </main>

      <footer class="mdl-mini-footer">
        <div class="mdl-mini-footer__left-section">
          <div class="mdl-logo">
            <%= link_to root_path do %>
              <%= image_tag('logo.png') %>
            <% end %>
          </div>
          <ul class="mdl-mini-footer__link-list">
            <li><a href="#">Help</a></li>
            <li><a href="#">Privacy & Terms</a></li>
          </ul>
        </div>
      </footer>

      <%= yield :bottom %>
    </div>
  </body>
</html>
